<div class="container mt-5">
  <div class="row">

    <div class="col-md-4 movie">
      <img
        src="{{info_movie.thumb_url}}"
        class="img-thumbnail img-movie"
        alt="{{info_movie.origin_name}}"
      />
    </div>
    
    <div class="col-md-8 movie">
      <h2 class="title">{{info_movie.name}}</h2>
      <h5 class="text-light">{{info_movie.origin_name}}</h5>
      <table class="table table-bordered table-dark mt-3">
        <tbody>
          <tr>
            <td>Tình trạng</td>
            <td>{{info_movie.status}}</td>
          </tr>
          <tr>
            <td>Số tập</td>
            <td>{{info_movie.episode_total}}</td>
          </tr>
          <tr>
            <td>Thời lượng</td>
            <td>{{info_movie.time}}</td>
          </tr>
          <tr>
            <td>Năm phát hành</td>
            <td>{{info_movie.year}}</td>
          </tr>
          <tr>
            <td>Chất lượng</td>
            <td>{{info_movie.quality}}</td>
          </tr>
          <tr>
            <td>Ngôn ngữ</td>
            <td>{{info_movie.lang}}</td>
          </tr>
          <tr>
            <td>Quốc gia</td>
            <td>{{info_movie.country}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex gap-2 d-md-block mt-2 mb-2">
      <a href="/movie/watch/{{info_movie.episodes.[0]}}?ep=1"><button class="btn btn-primary">Xem Phim</button></a>
      <button class="btn btn-primary ms-2 btn-add" 
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              data-name= "{{info_movie.name}}"
              data-slug="{{info_movie.slug}}"
              data-poster="{{info_movie.thumb_url}}"
              data-year="{{info_movie.year}}">Thêm lối tắt</button>
    </div>

    <div class="container mt-2">
      <div class="row">
        <h3>Danh sách tập phim</h3>
        {{#each info_movie.episodes}}
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-3">
            <button class="btn btn-secondary w-100"><a
                href="/movie/watch/{{this}}?ep={{sum @index 1}}"
                class="text-white text-decoration-none"
              >Tập {{sum @index 1}}</a></button>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<form action="/add-shortcut?_method=PUT" method="POST" style="display: none;" class="form-submit"></form>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Thông báo</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Bạn có muốn thêm lối tắt vào trang chủ không ?</h5>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Không</button>
        <button
          type="button"
          class="btn btn-primary btn-yes"
          data-bs-dismiss="modal"
        >Có</button>
      </div>
    </div>
  </div>
</div>

<script>
  btnAdd = document.querySelector('.btn-add')
  btnAdd.addEventListener('click', e => {

    const objData = {}
    objData['name'] = e.target.getAttribute('data-name')
    objData['slug'] = e.target.getAttribute('data-slug')
    objData['poster'] = e.target.getAttribute('data-poster')
    objData['year'] = e.target.getAttribute('data-year')

    const btnYes = document.querySelector('.btn-yes') 
    btnYes.addEventListener('click', e => {
      form = document.querySelector('.form-submit')
      for (const [key, value] of Object.entries(objData)) {
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = key;
        input.value = value;
        form.appendChild(input);
      }
      form.submit()
    })

  })
</script>