<div class="container mt-5">
  <div class="row">

    <div class="col-md-4 movie">
      <img
        src="{{info_movie.poster_url}}"
        class="img-thumbnail img-movie"
        alt="{{info_movie.origin_name}}"
      />
    </div>
    
    <div class="col-md-8 movie">
      <h2 class="title">{{info_movie.name}}</h2>
      <h5 class="text-light">{{info_movie.origin_name}}</h5>
      <table class="table table-bordered table-dark mt-3">
        <tbody>
          <tr>
            <td>Tình trạng</td>
            <td>{{info_movie.status}}</td>
          </tr>
          <tr>
            <td>Số tập</td>
            <td>{{info_movie.episode_total}}</td>
          </tr>
          <tr>
            <td>Thời lượng</td>
            <td>{{info_movie.time}}</td>
          </tr>
          <tr>
            <td>Năm phát hành</td>
            <td>{{info_movie.year}}</td>
          </tr>
          <tr>
            <td>Chất lượng</td>
            <td>{{info_movie.quality}}</td>
          </tr>
          <tr>
            <td>Ngôn ngữ</td>
            <td>{{info_movie.lang}}</td>
          </tr>
          <tr>
            <td>Quốc gia</td>
            <td>{{info_movie.country}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-grid gap-2 d-md-block mt-3">
        <button class="btn btn-primary">Xem Phim</button>
    </div>


    <div class="container mt-3">
      <div class="row">
        <h4>Danh sách tập phim</h4>
        {{#each info_movie.episodes}}
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-1">
            <button class="btn btn-secondary w-100"><a
                href="/movie/watch/{{this}}?ep={{sum @index 1}}"
                class="text-white text-decoration-none"
              >Tập {{sum @index 1}}</a></button>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>